openapi: 3.2.0
info:
  title: RUCKUS One Switches API
  description: The RUCKUS One API is a JSON REST surface for managing CommScope's cloud-managed networking estate, including Wi-Fi networks, ICX switches, access points, venues, and managed-service-provider delegation.
  version: '1.0'
  contact:
    name: RUCKUS Networks Developer Central
    url: https://www.ruckusnetworks.com/developer-central/
servers:
- url: https://api.ruckus.cloud
  description: North America
- url: https://api.eu.ruckus.cloud
  description: Europe
- url: https://api.asia.ruckus.cloud
  description: Asia
security:
- BearerAuth: []
tags:
- name: Switches
  description: ICX switches managed via RUCKUS One.
paths:
  /api/tenant/{tenantId}/switches:
    get:
      operationId: listSwitches
      summary: List ICX switches
      tags:
      - Switches
      parameters:
      - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: List of switches.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Switch'
components:
  schemas:
    Switch:
      type: object
      properties:
        serialNumber:
          type: string
        model:
          type: string
        venueId:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - online
          - offline
          - provisioning
  parameters:
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: RUCKUS One API documentation
  url: https://docs.ruckus.cloud/api
