openapi: 3.2.0
info:
  title: RUCKUS One Clients API
  description: The RUCKUS One API is a JSON REST surface for managing CommScope's cloud-managed networking estate, including Wi-Fi networks, ICX switches, access points, venues, and managed-service-provider delegation.
  version: '1.0'
  contact:
    name: RUCKUS Networks Developer Central
    url: https://www.ruckusnetworks.com/developer-central/
servers:
- url: https://api.ruckus.cloud
  description: North America
- url: https://api.eu.ruckus.cloud
  description: Europe
- url: https://api.asia.ruckus.cloud
  description: Asia
security:
- BearerAuth: []
tags:
- name: Clients
  description: Connected client devices.
paths:
  /api/tenant/{tenantId}/clients:
    get:
      operationId: listClients
      summary: List connected clients
      tags:
      - Clients
      parameters:
      - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: List of connected clients.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Client'
components:
  schemas:
    Client:
      type: object
      properties:
        mac:
          type: string
        ip:
          type: string
        username:
          type: string
        ssid:
          type: string
        apSerialNumber:
          type: string
        connectedAt:
          type: string
          format: date-time
  parameters:
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: RUCKUS One API documentation
  url: https://docs.ruckus.cloud/api
