openapi: 3.1.0
info:
  title: RUCKUS One AccessPoints API
  description: 'The RUCKUS One API is a JSON REST surface for managing CommScope''s cloud-managed networking estate, including Wi-Fi networks, ICX switches, access points, venues, and managed-service-provider delegation. Authentication uses an OAuth2-style client credentials exchange: a tenant generates an API key in the RUCKUS One UI and exchanges the resulting client_id and client_secret for a JSON Web Token, which is then attached as a bearer token on subsequent requests. Many write operations are asynchronous and return a requestId; clients poll the activity service until SUCCESS. Read operations are always synchronous.'
  version: '1.0'
  contact:
    name: RUCKUS Networks Developer Central
    url: https://www.ruckusnetworks.com/developer-central/
servers:
- url: https://api.ruckus.cloud
  description: North America
- url: https://api.eu.ruckus.cloud
  description: Europe
- url: https://api.asia.ruckus.cloud
  description: Asia
security:
- BearerAuth: []
tags:
- name: AccessPoints
  description: Wi-Fi access points (APs) registered to a tenant.
paths:
  /api/tenant/{tenantId}/aps:
    get:
      operationId: listAccessPoints
      summary: List access points
      tags:
      - AccessPoints
      parameters:
      - $ref: '#/components/parameters/tenantId'
      responses:
        '200':
          description: List of access points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessPoint'
components:
  schemas:
    AccessPoint:
      type: object
      properties:
        serialNumber:
          type: string
        model:
          type: string
        venueId:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - online
          - offline
          - provisioning
  parameters:
    tenantId:
      name: tenantId
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: RUCKUS One API documentation
  url: https://docs.ruckus.cloud/api
